/*font-family: 'Raleway', sans-serif;
*/
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
  height: 100%;
  min-height: 100%;
  background-color: #000000;
}
body {
  font-size: 0.75em;
}
.no-js {
  padding-top: 106px;
}
h2 {
  margin-top: 0;
}
h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 0 0.3em 0;
  text-align: center;
}

.loading {
  background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
  min-width: 320px;
  height:100%;
  opacity: 0;
}
ul{
  padding: 0;
}

a{
  color: #FFF;
  text-decoration: none;
}

.loaded section,
.no-js section {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
main {
  overflow-x: hidden;
}
#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 90%;
  position: absolute;
  left: 5%;
  top: 50%;
}
  .hsContent h2  {
    color: #fff8de;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 5px;
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 12px;
  }
  .hsContent p {
    width: 100%;
    color: #b2b2b2;
  }
  .hsContent a {
    color: #b2b2b2;
    text-decoration: none;
  }

.fa {
  font-size: 36px;
}

/* ========================== Header =========================== */

header {
  width: 100%;
  height: 200px;
}

#fixedElement {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(34,34,34,0.5);
  color: rgba(255,255,255, 1);
  z-index: 3;
}

#fixedElement nav {}
  @media only screen and (min-width : 768px) {
/*    #fixedElement {
      background-color: pink;
    }*/

    #fixedElement nav {
      margin-top: 15px;
    }
  }

#fixedElement ul li {
  padding: 5px 0 5px 5px;
  font-size: 1.25em;
}

  @media only screen and (min-width : 768px) {

    #fixedElement ul li {
      display: inline;
      padding: 0 20px 0 20px;
      font-size: 1.5em;
    }

    #fixedElement .link2{
      padding-right: 100px;
    }
    #fixedElement .link3{
      padding-left: 100px;
    }
  }

.logo {
  width: 100%;
}

.logoImg {
    width: 100%;
    height: 75px;
}

.logo .logoImg { 
  background: url('../img/KT.png') no-repeat;
  background-position: center center;
  background-size: 60px auto;
}

  @media only screen and (min-width : 768px) {
    .logoImg {
      width: 100%;
      height: 150px;
    }
    .logo .logoImg { 
      /*background: url('../img/KTlogo-nobee.png') no-repeat;*/
      background-position: center center;
      background-size: 125px auto;
    }

  }

ul.nav-bar li:hover { 
  background: rgba(7, 209, 209, .5);  
}

ul.nav-bar li:hover ul { 
  display: block;  
}

.spacer {
  height: 200px;
  width: 100%;
}
/* ========================== Slide 1 =========================== */

#tiy {
  margin-top: 10px ;
}
#tiy .wrapper {
  background-image:url('../img/tiy-reduced.jpg');
}

#tiy article.h3 {
  text-shadow: 1px 1px 2px #009D92;
  /*background: black;*/
}

#tiy article.project {
  float: none;
  margin: 5px auto;
  padding: 2%;
  width: 80%
}

#tiy article:hover {
  opacity: 1;
}

#tiy article:nth-child(4n) {
  clear: both;
}
  @media only screen and (min-width : 480px) {
    #tiy article:nth-child(n) {
      clear: both;
    }
  }


#tiy article img {
  border-radius: 50%;
  box-shadow: 0px 0px 5px #000;
  display: block;
  margin: 1em auto;
  width: 100%;
}
#tiy article img:hover {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
  @media only screen and (min-width : 480px) {
    #tiy article.project {
      background-color: white;
      float: left;
      min-height: 250px;
      margin: 1%;
      opacity: 0.8;
      padding: 2%;
      width: 43%;
    }
  }
  @media only screen and (min-width : 768px) {
    #tiy article.project {
      background-color: white;
      float: left;
      min-height: 250px;
      margin: 1%;
      opacity: 0.8;
      padding: 2%;
      width: 27.33%;
    }
  }


/* ========================== Info Slide 1 =========================== */

#infoSlide-1 .wrapper {
  background-color: rgba(34,34,34,0.5);
}
#infoSlide-1 .hsContent {
  bottom: 200px;
  top: auto;
  
}

/* ========================== Slide 2 =========================== */
#slide-2 .wrapper {
  background-image:url('../img/sunset-reduced.jpg');
  /*background: red;*/
}
#slide-2 .hsContent {
  /*margin-left: -450px;*/
  bottom: 200px;
  top: auto;
}
#slide-2 h2 {
  background: none;
  padding-left: 0;
  padding-right: 0;
}
/* ========================== Info Slide 2 =========================== */

#infoSlide-2 .wrapper {
  background-color: rgba(34,34,34,0.5);
}
#infoSlide-2 .hsContent {
  bottom: 200px;
  top: auto;
}

/* ========================== Slide 3 =========================== */
#slide-3 .wrapper {
  background-image:url('../img/fall-reduced.jpg');
  /*background: lightblue;*/
}
#slide-3 .hsContent {
  /*margin-left: -239px;*/
}
#slide-3 h2 {
  background: none;
  padding-left: 0;
  padding-right: 0;
}
/* ========================== Info Slide 3 =========================== */

#infoSlide-3 .wrapper {
  background-color: rgba(34,34,34,0.5);
}
#infoSlide-3 .hsContent {
  bottom: 200px;
  top: auto;
}

/* ========================== Slide 4 =========================== */
#slide-4 .wrapper {
  background-image:url('../img/rencen-reduced.jpg');
  /*background: pink;*/
}
#slide-4 .hsContent {
  /*margin-left: -450px;*/
  background: grey;
  /*left: 10%;*/
}

#slide-4 h2 {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

#slide-4 ul li {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  color: #fff8de;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}



/* ========================== Header =========================== */



@media only screen and (min-width: 790px) {
    
  #detroit .wrapper {
  background-image:url('../img/rencen.jpg')
  }
  #slide-2 .wrapper {
  background-image:url('../img/fall.jpg')
  }
  #slide-4 .wrapper {
  background-image:url('../img/sunset2.jpg')
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
